<h1 class="text-primary">Relive your favorite memories</h1>
<img src="https://images.unsplash.com/photo-1517960413843-0aee8e2b3285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
<h1>No more sorting through photos</h1>
<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
<%= link_to '<button type="button" class="btn btn-primary">Sign up</button>'.html_safe, new_signup_path %>


